@font-face {
  font-family: OS-light;
  src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
}

body{ font-family: OS-light; }

.bordersolid{
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
}

.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: static;
}

.flex-row-nowrap{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  position: static;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col1 {
  width: 45%;
  height: 500px;
  margin-right: 50px;
}

.col2 {
  width: 45%;
  height: 500px;
}

.width20 { width: 20%; }
.width-100 { width: 100px; }

.height-100 { height: 100px; }

.mgr-20 { margin-right: 20px; }
.mgb-30 { margin-bottom: 30px; }

.ta-center {
  text-align: center;
}

.bd-orange{
  border-color: orangered;
}

.bd-green{
  border-color: green;
}

.bd-gray{
  border-color: gray;
}

.bd-yellow{
  border-color: yellow;
}