@font-face {
    font-family: OS-light;
    src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
}
 
body{ font-family: OS-light; }
  
.ta-center{ text-align: center; }

.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  position: relative;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.border{
  border-style: solid;
  border-width: thin;
  border-color: orangered;
  border-radius: 10px;
}

.border-green {
  border-style: solid;
  border-width: thin;
  border-color: green;
  color: green;
  border-radius: 10px;
  padding: 10px;
}

.border-red {
  border-style: solid;
  border-width: thin;
  border-color: red;
  color: red;
  border-radius: 10px;
  padding: 10px;
}

.border-header-bottom {
  border-bottom-style: solid;
  border-bottom-width: thick;
  border-bottom-color: green;
}

.border-top {
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: grey;
}

.colhead {
  font-size: 15pt;
}

.col1 {
  width: 20%;
  padding: 15px;
  max-height: 600px;
}

.col2 {
  width: 90%;
  margin-left: 20px;
  padding: 15px;
  max-height: 800px;
}

.stt {
  width: 30px;
  text-align: center;
  padding: 5px;
}

.col {
  width: 20%;
  padding: 5px;
}

.mgr-10 {margin-right: 10px;}
.mgb-30 { margin-bottom: 30px; }
.mgt-10 { margin-top: 10px; }

.float-right { float: right; }

.fs-30 {font-size: 30pt; }

.pd-15 { padding: 15px; }

.button {
  padding: 10px;
  border-radius: 7px;
  background-color: orangered;
  color: white;
}

/* Adding Proloyee */
.properties {
  font-family: OS-light;
  height: 40px;
  margin-top: 10px;
}

.addPro-title {
  font-size: 12pt;
  float: left;
  width: 35%;
  justify-items: center;
  line-height: 40px;
}

.addPro-input {
  float: right;
  width: 60%;
  border-radius: 10px;
  padding-left: 10px;
  height: 40px;
}

.proAdd { font-size: 18pt; color: green}

.tsp, .spgh {
    width: 120px;
    height: 120px;
    border-style: solid;
    border-radius: 150px;
    border-width: 1.5px;
    color: orangered;
    text-align: center;
}

.tsp { border-color: green; }
.spgh { border-color: purple; }

._ {
    border-style: solid;
    width: 80px;
    border-width: 0.5px;
    border-color: black;
}

.tsp-number {
    font-family: OS-light;
    font-size: 25pt;
}

.tsp-title {
    font-family: OS-light;
    font-size: 12pt;
}